SourceControlMonitor/SampleData/RevisionHistoryViewModelSampleDataSource/RevisionHistoryViewModelSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.RevisionHistoryViewModelSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.RevisionHistoryViewModelSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RevisionHistoryViewModelSampleDataSource" type="tns:RevisionHistoryViewModelSampleDataSource" />
  <xs:complexType name="RevisionHistoryViewModelSampleDataSource">
    <xs:sequence>
      <xs:element name="CommitItems" type="tns:CommitItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommitItems">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CommitItemsItem" type="tns:CommitItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommitItemsItem">
    <xs:sequence>
      <xs:element name="ItemChanges" type="tns:ItemChanges" />
    </xs:sequence>
    <xs:attribute name="HasLocalEditsOnAnyFile" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="6" name="Revision" type="xs:double" />
    <xs:attribute blend:Format="Name" name="Author" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute name="LogMessage" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ItemChanges">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemChangesItem" type="tns:ItemChangesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemChangesItem">
    <xs:attribute name="HasLocalEdits" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1,3" name="Type" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="FilePath" type="xs:string" />
  </xs:complexType>
</xs:schema>